<div class="card px-3 list-style show-info">
  <h4 class="text-center mt-3 pb-2" style="border-bottom: 1px solid #C0C0C0;">User Info</h4>
  <div class="m-auto">
    <div class="text-center">
    <% if current_customer = customer %>
      <%= link_to mypage_path do %>
        <%= image_tag customer.avatar.url, class: 'rounded-circle mr15', width: '100', height: '100' %>
      <% end %>
    <% else %>
      <%= link_to customer_path(customer.id) do %>
        <%= image_tag customer.avatar.url, class: 'rounded-circle mr15', width: '100', height: '100' %>
      <% end %>
    <% end %>
    </div>
    <div class="card-body">
      <h5 class="card-title text-center textOverflow"><%= customer.name %></h5>
      <p class="card-text textOverflow"><%= customer.profile_text %></p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item text-center info-follow">follows: <%= link_to customer.followings.count, customer_followings_path(customer), class: "like-link" %></li>
      <li class="list-group-item text-center info-follow">followers: <%= link_to customer.followers.count, customer_followers_path(customer), class: "like-link" %></li>
      <% if admin_signed_in? %>
      <% elsif current_customer != customer %>
        <div id="follow_ajax_<%= customer.id %>" class="text-center my-2"><%= render "admin/relationships/btn", customer: customer_info, options: { class: ""} %></div>
      <% end %>
    </ul>
  </div>
</div>