<div class="container back-list my-5">
  <h2 class="text-center mt-3">プロフィール編集画面</h2>
  <div><%= render 'layouts/errors', obj: @customer %></div>
  <%= form_with model: @customer, url: information_update_path, local:true do |f| %>
  <div class="d-flex">
    <div class="m-5 col-5 text-center">
      <%= f.file_field :profile_image, class: "img_field", style: 'display:none;', id: "file_field" %>
      <% if @customer.profile_image %>
        <%= image_tag @customer.profile_image, onclick: "$('#file_field').click()", class: "img_prev img_icon" %>
      <% else %>
        <%= image_pack_tag 'profile_image.jpg' %>
      <% end %>
    </div>

    <div class="col-5 pt-5">
      <table class="table table-borderless">
        <tr>
          <th>name</th>
          <td class="text-center"><%= f.text_field :name %></td>
        </tr>
        <tr>
          <th>information</th>
          <td><%= f.text_area :profile_text, rows:'5', class: "w-100" %></td>
        </tr>
      </table>
    </div>
  </div>
  <div class="d-flex justify-content-center">
    <div class="m-5"><%= f.submit "変更を保存", class: "btn btn-outline-success" %></div>
    <div class="m-5"><%= link_to "退会する", confirm_withdraw_path, class: "btn btn-outline-danger" %></div>
  </div>
  <% end %>
</div>

<%= javascript_pack_tag "js/edit" %>