<div class="container back-list my-5">
  <h2 class="text-center mt-3">プロフィール編集画面</h2>

  <%= form_with model: @customer, url: information_update_path, local:true do |f| %>
  <div class="row">
    <%= render "layouts/errors", obj: @customer %>
    <div class="m-5 col-md-5 text-center">
    <%= f.label :avatar %>
    <%= f.file_field :avatar, onchange: 'previewImage()', class: 'form-control' %>
    <%= f.hidden_field :avatar_cache %>
    <% if @customer.avatar.present? %>
      <%= image_tag @customer.avatar.url, class: 'rounded-circle mt-3', id: 'preview', size: '100x100' %>
    <% else %>
      <%= image_tag "profile_image.jpg", class: 'rounded-circle mt-3', id: 'preview', size: '100x100' %>
    <% end %>
    </div>

    <div class="col-md-5 pt-5">
      <table class="table table-borderless">
        <tr>
          <th>name</th>
          <td class="text-center"><%= f.text_field :name %></td>
        </tr>
        <tr>
          <th>information</th>
          <td><%= f.text_area :profile_text, rows:'5', class: "w-100" %></td>
        </tr>
      </table>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-2 m-5"><%= f.submit "変更を保存", class: "btn btn-outline-success" %></div>
    <div class="col-md-2 m-5"><%= link_to "退会する", confirm_withdraw_path, class: "btn btn-outline-danger" %></div>
  </div>
  <% end %>
</div>

<script>
    function previewImage() {
      const target = this.event.target;
      const file = target.files[0];
      const reader  = new FileReader();
      reader.onloadend = function () {
          const preview = document.querySelector("#preview")
          if(preview) {
              preview.src = reader.result;
          }
      }
      if (file) {
          reader.readAsDataURL(file);
      }
    }
</script>