<div>
  <%= link_to :back do %>
    <i class="fa-solid fa-arrow-left fa-xl" style="color: #000;"></i>
  <% end %>
</div>
<h2>User Info</h2>
<div>
  <%= image_tag @customer.get_profile_image(200,200), style: "border-radius: 50%; object-fit:cover;"%><br>
</div>
  <%= @customer.name %><br>
  <%= @customer.profile_text %><br>

  フォロー数: <%= link_to @customer.followings.count, customer_followings_path(@customer) %>
  フォロワー数: <%= link_to @customer.followers.count, customer_followers_path(@customer) %>

  <%= link_to "編集", information_path %>

<div class="container">
  <h3 class="mb-3 font-weight-bold text-center">
    投稿履歴 (全 <%= @count_posts%>件)
  </h3>
  <%= render "public/posts/list", posts: @posts, customer: @customer %>
</div>