<div>
  <%= link_to :back do %>
    <i class="fa-solid fa-arrow-left fa-xl" style="color: #000;"></i>
  <% end %>
</div>
<h2>登録情報</h2>
    <%= image_tag @customer.get_profile_image(300, 250) %><br>
    <%= @customer.name %><br>
    <%= @customer.profile_text %><br>

    フォロー数: <%= link_to @customer.followings.count, customer_followings_path(@customer) %>
    フォロワー数: <%= link_to @customer.followers.count, customer_followers_path(@customer) %>


<%= link_to "編集", information_path %>
