<div class="container back-list mt-5">
  <h1 class="text-center mt-4">User Info</h1>
  <div class="d-flex">
    <div class="m-5 col-5 text-center">
      <%= image_tag @customer.get_profile_image(200,200), style: "border-radius: 50%; object-fit:cover;"%><br>

      <div class="mt-3">
        <% if admin_signed_in? %>
            <div>
              <%= link_to edit_admin_customer_path, class: "user-edit" do %>
                  <i class="fa-solid fa-user-pen"></i>
              <% end %>
            </div>
        <% elsif current_customer.guest_customer? %>
        <% elsif @customer == current_customer %>
        <div class="mt-3">
          <%= link_to information_path, class: "user-edit" do %>
            <i class="fa-solid fa-user-pen"></i>
          <% end %>
        </div>
        <% else %>
            <div>
              <%= render "admin/relationships/btn", customer: @customer %>
            </div>
        <% end %>
      </div>
    </div>

    <div class="col-5 pt-5">
      <table class="table table-borderless">
        <tr>
          <th>name</th>
          <td><%= @customer.name %></td>
        </tr>
        <tr>
          <th>information</th>
          <td><%= @customer.profile_text %></td>
        </tr>
        <% if admin_signed_in? %>
        <tr>
          <th>followed</th>
          <td><%= link_to @customer.followings.count, customer_followings_path(@customer), class: "text-dark" %></td>
        </tr>
        <tr>
          <th>followers</th>
          <td><%= link_to @customer.followers.count, customer_followers_path(@customer), class: "text-dark" %></td>
        </tr>
        <tr>
          <th>favorites index</th>
          <td><%= render "admin/favorites/counter", customer: @customer %></td>
        </tr>
        <% elsif current_customer.guest_customer? %>
        <tr>
          <th>followed</th>
          <td><%= @customer.followings.count %></td>
        </tr>
        <tr>
          <th>followers</th>
          <td><%= @customer.followers.count %></td>
        </tr>
        <% else %>
        <tr>
          <th>followed</th>
          <td><%= link_to @customer.followings.count, customer_followings_path(@customer), class: "text-dark" %></td>
        </tr>
        <tr>
          <th>followers</th>
          <td><%= link_to @customer.followers.count, customer_followers_path(@customer), class: "text-dark" %></td>
        </tr>
        <tr>
          <th>favorites index</th>
          <td><%= render "admin/favorites/counter", customer: @customer %></td>
        </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>

<% if admin_signed_in? %>
<div class="container">
  <h3 class="mt-5 mb-3 font-weight-bold text-center text-white">
    <%= @customer.name %>さんの投稿履歴 (全 <%= @count_posts%>件)
  </h3>
  <%= render "public/posts/list", posts: @posts, customer: @customer, count_posts: @count_posts %>
</div>
<% elsif current_customer.guest_customer? %>
<% elsif @post.customer == current_customer %>
<div class="container">
  <h3 class="mt-5 mb-3 font-weight-bold text-center text-white">
    投稿履歴 (全 <%= @count_posts%>件)
  </h3>
  <%= render "public/posts/list", posts: @posts, customer: @customer, count_posts: @count_posts %>
</div>
<% else %>
<div class="container">
  <h3 class="mt-5 mb-3 font-weight-bold text-center text-white">
    <%= @customer.name %>さんの投稿履歴 (全 <%= @count_posts%>件)
  </h3>
  <%= render "public/posts/list", posts: @posts, customer: @customer, count_posts: @count_posts %>
</div>
<% end %>