<div class="row justify-content-center my-5">
<% posts.each do |post| %>
  <div class="card mb-4 shadow-sm mx-3 shadow-lg" style="border-radius: 27px;">
    <%= link_to post_path(post.id) do %>
      <%= image_tag post.get_image(260,220), class: "card-img-top post-image" %>
    <% end %>
   <div class="d-flex">
    <p class="m-3">
    <% if post.customer == current_customer %>
      <%= link_to mypage_path do %>
        <%= image_tag post.customer.avatar.url, class: 'rounded-circle mr15', width: '80', height: '80' %>
      <% end %>
    <% else %>
      <%= link_to customer_path(post.customer.id) do %>
        <%= image_tag post.customer.avatar.url, class: 'rounded-circle mr15', width: '80', height: '80' %>
      <% end %>
    <% end %>
    </p>
      <%= link_to(post_path(post.id), class: "text-dark") do %>
        <div class="card-title flex-fill pt-4" style="padding-left: 20px;">
          <p class="textOverflow"><strong><i class="fa-solid fa-car"></i> <%= post.title %></strong></p>
        </div>
        <p class="pl-3"><i class="fa-solid fa-location-arrow"></i> <%= post.prefecture.name %></p>
      <% end %>
   </div>
    <div class="card-body">
       <div class="row">
        <div class="col-6">
          <span class="mx-1">
            <%= render "admin/post_comments/counter", post: post %>
          </span>
          <span id="favorite_btn_<%= post.id %>" class="ml-2">
              <%= render "admin/favorites/btn", post: post %>
          </span>
        </div>
      <small class="time"><%= l post.created_at, format: :shortja %></small>
      </div>
    </div>
  </div>
<% end %>
</div>
<div class="pagination mt-3 d-flex justify-content-center">
  <%= paginate post_page %>
</div>
