<div class="row justify-content-center my-5">
<% posts.each do |post| %>
  <div class="card mb-4 shadow-sm mx-3" style="border-radius: 27px;">
    <%= link_to post_path(post.id) do %>
      <%= image_tag post.get_image(260,220), class: "card-img-top post-image" %>
    <% end %>
   <div class="d-flex">
    <p class="m-3">
      <%= link_to customer_path(post.customer.id) do %>
        <%= image_tag post.customer.get_profile_image(50,50), class:"rounded-circle"; %>
      <% end %>
    </p>
    <p class="card-title flex-fill pt-4" style="padding-left: 20px;">
      <%= link_to(post_path(post.id), class: "text-dark") do %>
        <strong><i class="fa-solid fa-car"></i><span> <%= post.title %></span></strong>
      <% end %>
    </p>
   </div>
    <div class="card-body">
       <div class="row">
        <div class="col-6">
          <span class="mx-1">
            <%= render "admin/post_comments/counter", post: post %>
          </span>
          <span id="favorite_btn_<%= post.id %>" class="ml-2">
              <%= render "admin/favorites/btn", post: post %>
          </span>
        </div>
      <small class="time"><%= l post.created_at, format: :shortja %></small>
      </div>
    </div>
  </div>
<% end %>
</div>