<div class="row py-5">
  <% posts.each do |post| %>
  <div class="card-list card mx-auto mt-4 shadow-lg" style="border-radius: 27px;">
    <%= link_to post_path(post.id) do %>
      <%= image_tag post.get_image(260,220), class: "card-img-top post-image" %>
    <% end %>
    <div class="card-body">
      <div class="row">
        <div class="col-3">
          <%= link_to customer_path(post.customer.id) do %>
            <%= image_tag post.customer.avatar.url, class: 'rounded-circle mr15', width: '70', height: '70' %>
          <% end %>
        </div>
        <div class="col-9">
          <p class="card-title">
            <%= link_to(post_path(post.id), class: "text-dark") do %>
              <p class="textOverflow"><strong><i class="fa-solid fa-car"></i> <%= post.title %></strong></p>
            <% end %>
          </p>
          <p class="card-text textOverflow">text：<%= post.detail %></p>
          <div class="d-flex">
            <span class="d-flex"><i class="fas fa-user"></i> <p class="textOverflow"><%= post.customer.name %></p> ｜ </span>
            <span class="mx-2">
              <%= render "admin/post_comments/counter", post: post %>
            </span>
            <span id="favorite_btn_<%= post.id %>" class="ml-2">
                <%= render "admin/favorites/btn", post: post %>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>
<div class="pagination mt-3 d-flex justify-content-center">
  <%= paginate posts %>
</div>
