<div class="card-list-container py-5">
  <% posts.each do |post| %>
  <div class="card-list card mx-auto mt-4 shadow-lg">
    <%= link_to post_path(post.id) do %>
      <%= image_tag post.get_image(260,220), class:"card-img-top"; %>
    <% end %>
    <div class="card-body">
      <div class="row">
        <div class="col-3">
          <%= link_to customer_path(post.customer.id) do %>
            <%= image_tag post.customer.get_profile_image(70,70), class:"mt-3 rounded-circle"; %>
          <% end %>
        </div>
        <div class="col-9">
          <p class="card-title">
            <%= link_to(post_path(post.id), class: "text-dark") do %>
              <strong><i class="fa-solid fa-car"></i><span> <%= post.title %></span></strong>
            <% end %>
          </p>
          <p class="card-text">text：<%= post.detail %></p>
          <span><i class="fas fa-user"></i> <%= post.customer.name %> ｜ </span>
          <span class="mx-2">
            <%= link_to post_path(post.id), class: "text-dark" do %>
            <i class="fa-regular fa-comment"></i> <%= post.post_comments.count %>
            <% end %>
          </span>
          <span class="mx-2"><%= render "admin/favorites/btn", post: post %></span>
        </div>
      </div>
    </div>
  </div>
  <% end %>
  <div class="pagination mt-3 d-flex justify-content-center">
    <%= paginate posts, theme: "post" %>
  </div>
</div>