<h3>投稿一覧</h3>
<% @posts.each do |post| %>
  <div>
    <%= link_to post_path(post.id) do %>
      <%= image_tag post.get_image(160, 120) %><br>
      <%= post.title %><br>
      <%= post.detail %><br>
    <% end %>
    <%= post.prefecture.name %>
    <%= post.customer.name %>
    
    <!--タグリスト-->
    <% @tag_list.each do |list|%>
      <i class="fa-sharp fa-solid fa-tag"></i>
      <%=link_to list.name,search_tag_path(tag_id: list.id) %>
      <%="(#{list.posts.count})" %>
    <% end %>
  </div>
<% end %>