<div class="pl-5">
  <%= link_to :back do %>
    <i class="fa-solid fa-arrow-left fa-xl" style="color: #000;"></i>
  <% end %>
</div>
<div class="container mt-3">
  <h2 class="font-weight-bold text-center">投稿フォーム</h2>
    <div class="my-4 d-flex justify-content-center">
    <%= form_with model: @post do |f| %>

          <table class="table table-borderless">
           <tbody>

            <div class="text-center">
              <label class="mt-2 sm:mt-0 py-2 w-[212px] sm:w-[164px] h-8 border btn btn-outline-primary">
                <i class="fa-solid fa-camera"></i>
                <span class="ml-2">画像を選択する</span>
                <%= f.file_field :image, class: "hidden"%>
              </label>
            </div>

            <tr>
              <td>
                <label>タイトル</label><br>
                <%= f.text_field :title, class: "h-2 col-12" %>
              </td>
            </tr>

            <tr>
              <td>
                <label>投稿文</label><br>
                <%= f.text_area :detail, class: "col-12" %>
              </td>
            </tr>

            <tr>
              <td>
                <label>撮影場所</label><br>
                <%= f.collection_select(:prefecture_id, Prefecture.all, :id, :name,{include_blank: "---"} ) %><br>
                <%= f.text_field :place, class: "col-12 mt-2", placeholder: "撮影場所を記入して下さい" %>
              </td>
            </tr>

            <tr>
              <td>
                <label>タグ(,で区切ると複数タグ登録できます)</label>
                <%= f.text_field :name,value: @tag_list, class: "form-control", placeholder: "山,見晴らしがいい" %>
              </td>
            </tr>
           </tbody>
          </table>
          <div class="text-center mb-2">
            <%= f.submit "投稿", class: "post-button" %>
          </div>
        </div>
    <% end %>
    </div>
</div>