<div class="container">
  <div class="back-list mx-auto mt-5" style="width: 60%;">
  <h2 class="m-3 text-center">
    タグが "<%= @tag.name %>" の投稿一覧
    <% tag_id = params[:tag_id] || Tag.first.id %>
    <%= "全 (#{PostTagRelation.where(tag_id: tag_id).count}) 件" %>
  </h2>

    <!--タグリスト-->
<div class="mx-auto my-2">
  <%= form_with url: search_tag_path, method: :get, local: true, class: 'boards__searchForm tp_ipselect tp_sl04' do |f|%>
      <%= select_tag :tag_id,
        options_from_collection_for_select(Tag.all, :id, :name, params[:tag_id]),
          {
            onchange: "submit(this.form);"
          }
      %>
  <% end %>
</div>
  </div>

  <div><%= render "public/posts/index", posts: @posts, post_page: @post %></div>
</div>