<div>
  <%= link_to :back do %>
    <i class="fa-solid fa-arrow-left fa-xl" style="color: #000;"></i>
  <% end %>
</div>
<div class="container">
<h2>投稿詳細画面</h2>
    <%= image_tag @post.get_image(300, 250) %><br>
    <%= @post.title %><br>
    <%= @post.detail %><br>
    <%= @post.prefecture.name %>
    <%= @post.customer.name %>

    <!-- タグリスト -->
      <% @post_tags.each do |tag| %>
      <i class="fa-sharp fa-solid fa-tag"></i>
        <%= link_to tag.name,search_tag_path(tag_id: tag.id) %>
      <% end %>

    <span  id="comment_counter" class="mx-2">
      <%= render "admin/post_comments/counter", post: @post %>
    </span>
    <span id="favorite_btn_<%= @post.id %>" class="ml-2">
        <%= render "admin/favorites/btn", post: @post %>
    </span>

    <% if @post_comment.present? %>
     <%= render "layouts/errors", obj: @post_comment %>
    <% end %>
    <%= render "admin/post_comments/form", post: @post, post_comment: @post_comment %>

<%= link_to "編集", edit_post_path(@post.id) %>
<% if @post.customer == current_customer %>
  <%= link_to "削除", post_path(@post), method: :delete %>
<% end %>
</div>

<div id="comment_index">
  <%= render "admin/post_comments/index", post: @post %>
</div>