<div class="container">
  <div class='row'>
    <table class="table border table-hover table-inverse">
      <% if @model == [] %>
        <h3 class="mt-3 text-center">検索結果がありません。</h3>
      <% elsif @model == "customer" %>
        <h2 class="mt-3">Userの検索結果 "<%= @content %>"</h2>
        <%= render "admin/customers/index", customers: @records %>
      <% elsif @model == "post" %>
        <h2 class="mt-3">投稿の検索結果 "<%= @content %>"</h2>
        <%= render "public/posts/index", posts: @records %>
      <% elsif @model == "prefecture" %>
        <h2 class="mt-3">都道府県の検索結果 "<%= @content %>"</h2>
        <%= render "public/posts/index", posts: @records %>
      <% end %>
    </table>
  </div>
</div>