<div class="container my-5">
  <div class='row'>
      <% if @model == "customer" %>
        <div class="container back-list">
          <h2 class="m-3 text-center mt-4">Userの検索結果 "<%= @content %>"</h2>
          <% if admin_signed_in? %>
            <%= render "admin/customers/index", customers: @records, customer_page: @customer_page %>
          <% else %>
            <%= render "public/customers/list", customers: @records, customer_page: @customer_page %>
          <% end %>
        </div>
      <% elsif @model == "post" %>
        <div class="container">
          <h2 class="m-3 text-center mt-4 text-white">投稿の検索結果 "<%= @content %>"</h2>
          <div><%= render "public/posts/index", posts: @records, post_page: @post_page %></div>
        </div>
      <% elsif @model == "prefecture" %>
        <div class="container">
          <h2 class="m-3 text-center mt-4 text-white">都道府県の検索結果 "<%= @content %>"</h2>
          <div><%= render "public/posts/index", posts: @records, post_page: @post_page %></div>
        </div>
      <% else %>
        <div class="container">
          <h3 class="mt-3 text-center text-white"><strong>検索結果がありません。</strong></h3>
        </div>
      <% end %>
  </div>
</div>