<div class="container back-list mt-5">
  <div class='row'>
    <table class="table border table-hover table-inverse">
      <% if @model == [] %>
        <h3 class="mt-3 text-center text-white">検索結果がありません。</h3>
      <% elsif @model == "customer" %>
        <div class="container">
          <h2 class="m-3 text-center mt-4">Userの検索結果 "<%= @content %>"</h2>
          <div><%= render "public/customers/list", customers: @records, customer_page: @customer_page %></div>
        </div>
      <% elsif @model == "post" %>
        <div class="container">
          <h2 class="m-3 text-center mt-4">投稿の検索結果 "<%= @content %>"</h2>
          <div><%= render "public/posts/index", posts: @records, post_page: @post_page %></div>
        </div>
      <% elsif @model == "prefecture" %>
        <div class="container">
          <h2 class="m-3 text-center mt-4">都道府県の検索結果 "<%= @content %>"</h2>
          <div><%= render "public/posts/index", posts: @records, post_page: @post_page %></div>
        </div>
      <% end %>
    </table>
  </div>
</div>