<table class="table table-sm table-borderless text-center">
      <thead>
        <tr>
          <th class="align-middle">image</th>
          <th class="align-middle">name</th>
          <th class="align-middle">Email</th>
          <th class="align-middle">followed</th>
          <th class="align-middle">followers</th>
          <th class="align-middle">status</th>
        </tr>
      </thead>
      <tdody>
       <% customers.each do |customer| %>
        <tr>
          <td class="align-middle">
           <% if customer.guest_customer? %>
             <%= image_tag customer.avatar.url, class: 'rounded-circle mr15', width: '80', height: '80' %>
           <% else %>
            <%= link_to customer_path(customer.id) do %>
             <%= image_tag customer.avatar.url, class: 'rounded-circle mr15', width: '80', height: '80' %>
            <% end %>
           <% end %>
          </td>
          <% if customer.guest_customer? %>
            <td class="align-middle"><%= customer.name %></td>
            <td class="align-middle"><%= customer.email %></td>
            <td class="align-middle">無</td>
            <td class="align-middle">無</td>
          <% else %>
            <td class="align-middle"><%= link_to customer.name, customer_path(customer.id), class: "text-dark" %></td>
            <td class="align-middle"><%= customer.email %></td>
            <td class="align-middle"><%= link_to customer.followings.count, customer_followings_path(customer), class: "text-dark" %></td>
            <td class="align-middle"><%= link_to customer.followers.count, customer_followers_path(customer), class: "text-dark" %></td>
          <% end %>
            <td class="font-weight-bold align-middle">
            <% if customer.is_valid %>
              <p class="text-danger">退会</p>
            <% else %>
              <p class="text-success">有効</p>
            <% end %>
          </td>
        </tr>
       <% end %>
       </tdody>
    </table>
<div class="pagination mt-3 d-flex justify-content-center">
  <%= paginate customer_page %>
</div>
