<table class="table table-sm table-hover">
      <thead>
        <tr>
          <th>image</th>
          <th>氏名</th>
          <th>メールアドレス</th>
          <th>フォロー数</th>
          <th>フォロワー数</th>
          <th>ステータス</th>
        </tr>
      </thead>
      <tdody>
       <% customers.each do |customer| %>
        <tr>
          <td><%= image_tag customer.get_profile_image(80,80) %></td>
          <td><%= link_to customer.name, admin_customer_path(customer) %></td>
          <td><%= customer.email %></td>
          <td><%= customer.followings.count %></td>
          <td><%= customer.followers.count %></td>
          <td class="font-weight-bold">
            <% if customer.is_valid %>
              <p class="text-danger">退会</p>
            <% else %>
              <p class="text-success">有効</p>
            <% end %>
          </td>
        </tr>
       <% end %>
       </tdody>
    </table>
<div class="pagination mt-3 d-flex justify-content-center">
  <%= paginate customer_page %>
</div>
