<div>
  <%= link_to :back do %>
    <i class="fa-solid fa-arrow-left fa-xl" style="color: #000;"></i>
  <% end %>
</div>
<div class="container mt-3">

  <h4 class="font-weight-bold"><%= @customer.name %>さんの会員詳細</h4>

  <table class="table table-bordered mt-5">
    <tr>
      <th>会員ID</th>
      <td><%= @customer.id %></td>
    </tr>
    <tr>
      <th>名前</th>
      <td><%= @customer.name %></td>
    </tr>
    <tr>
      <th>紹介文</th>
      <td><%= @customer.profile_text %></td>
    </tr>
    <tr>
      <th>メールアドレス</th>
      <td><%= @customer.email %></td>
    </tr>
    <tr>
      <th>フォロー数</th>
      <td><%= link_to @customer.followings.count, admin_customer_followings_path(@customer) %></td>
    </tr>
    <tr>
      <th>フォロワー数</th>
      <td><%= link_to @customer.followers.count, admin_customer_followers_path(@customer) %></td>
    </tr>
    <tr>
      <th>会員ステータス</th>
      <td class="font-weight-bold">
      <% if @customer.is_valid %>
        <p class="text-success">有効</p>
      <% else %>
        <p class="text-danger">退会</p>
      <% end %>
      </td>
    </tr>
  </table>
  <div class="d-flex justify-content-center mt-4">
    <%= link_to "編集する", edit_admin_customer_path(@customer), class: "btn btn-sm btn-outline-success mr-4" %>
  </div>
</div>