<div class = "container">
	<div class="wrapper my-5">
		<form class="form form-signin">
    <%= form_with model: @customer, url: customer_registration_path, method: :post do |f| %>

		    <h3 class="form-signin-heading">Welcome! Sign up</h3>
			  <hr class="colorgraph"><br>

			  <%= f.label :name %>
        <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "form-control" %>

        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>

			  <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>

        <%= f.label :password_confirmation %><br />
    　　　<%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>

			  <button class="btn btn-lg btn-primary btn-block"  name="Submit" value="Login" type="Submit">新規登録</button>

			  <h5 class="mt-5 text-center">ゲストログインはこちらから</h5>
        <div class="col mb-3 mt-3 text-center">
          <%= link_to "ゲストログイン（閲覧用）", users_guest_sign_in_path, class: "btn btn-secondary", method: :post %>
        </div>

    <% end %>
		</form>
    <%= render "public/shared/links" %>
	</div>
</div>