<% post.post_comments.each do |post_comment| %>
  <div class="balloon5">
    <div class="faceicon text-center">
      <%= link_to customer_path(post_comment.customer) do %>
        <%= image_tag post_comment.customer.get_profile_image(100,100), class: "w-75" %>
        <div class="like-link"><%= post_comment.customer.name %></div>
      <% end %>
    </div>
    <div class="chatting">
      <div class="says">
        <p><%= post_comment.comment %></p>
      </div>
        <div class="mt-2">
         <div class="comment-option">
          <div class ="time"><%= l post_comment.created_at %></div>
          <% if post_comment.customer == current_customer %>
            <%= link_to  post_post_comment_path(post, post_comment), class: "comment-delete", method: :delete, remote: true do %>
            <i class="fa-solid fa-trash-can"></i>
            <% end %>
          <% end %>
          <% if admin_signed_in? %>
            <%= link_to  post_post_comment_path(post, post_comment), class: "comment-delete", method: :delete, remote: true do %>
            <i class="fa-solid fa-trash-can"></i>
            <% end %>
          <% end %>
         </div>
        </div>
    </div>
  </div>
<% end %>
