 <div class="comment-index my-5">
   <h4 class="text-center my-3">コメント一覧　<%= post.post_comments.where(parent_id: nil).count %> 件</h4>
   <hr style="border-top: 1px solid #C0C0C0;">
  <div class="<%= "scroll-contents" if post.post_comments.where(parent_id: nil).count > 5 %>">
    
    <% post.post_comments.where(parent_id: nil).each do |post_comment| %>
      <div class="balloon5">
        <div class="faceicon text-center">
          <% if post_comment.customer == current_customer %>
            <%= link_to mypage_path do %>
              <%= image_tag post_comment.customer.avatar.url, class: 'rounded-circle mr15', width: '90', height: '90' %>
              <div class="like-link textOverflow"><%= post_comment.customer.name %></div>
            <% end %>
          <% else %>
            <%= link_to customer_path(post_comment.customer) do %>
              <%= image_tag post_comment.customer.avatar.url, class: 'rounded-circle mr15', width: '90', height: '90' %>
              <div class="like-link textOverflow"><%= post_comment.customer.name %></div>
            <% end %>
          <% end %>
        </div>
        <div class="chatting">
          <div class="says">
            <div class=""><%= simple_format(post_comment.comment, class: "comment-user") %></div>
          </div>
            <div class="mt-2">
             <div class="comment-option">
              <div class ="time"><%= l post_comment.created_at %></div>
              <% if post_comment.customer == current_customer %>
                <%= link_to  post_post_comment_path(post, post_comment), class: "comment-delete", method: :delete, remote: true, data: {confirm: "本当に削除しますか？"} do %>
                <i class="fa-solid fa-trash-can"></i>
                <% end %>
              <% elsif admin_signed_in? %>
                <%= link_to  post_post_comment_path(post, post_comment), class: "comment-delete", method: :delete, remote: true, data: {confirm: "本当に削除しますか？"} do %>
                <i class="fa-solid fa-trash-can"></i>
                <% end %>
              <% else %>
              <% end %>
              <% if admin_signed_in? %>
              <% else %>
              <a data-parent-id="<%= post_comment.id %>" class="comment-reply-button reply-btn" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                <i class="fa-solid fa-reply"></i>
              </a>
              <% end %>
              <!--返信がある場合は以下を表示-->
              <% parent_comment = post_comment.replies.find_by(params[:parent_id]) %>
              <% if parent_comment.present? %>
              <a class="primary" data-toggle="collapse" data-target=".multi-collapse_<%= post_comment.id %>" aria-expanded="false" aria-controls="multiCollapseExample">
                返信一覧（<%= post_comment.replies.count%>件）
              </a>
              <% end %>
             </div>
            </div>
        </div>
      </div>


      <div class="reply-index collapse multi-collapse_<%= post_comment.id %>" id="multiCollapseExample1">
        <div class="<%= "scroll-contents" if post_comment.replies.count > 5 %>">
        <% post_comment.replies.each do |reply| %>
          <div class="reply-balloon5">
            <div class="reply-chatting">
              <div class="reply-says">
                <div class=""><%= simple_format(reply.comment, class: "reply-comment-user") %></div>
              </div>
                <div class="mt-2">
                 <div class="reply-comment-option">
                  <div class ="time"><%= l reply.created_at %></div>
                  <% if reply.customer == current_customer %>
                    <%= link_to  post_post_comment_path(post_comment, reply), class: "reply-comment-delete", method: :delete, remote: true do %>
                    <i class="fa-solid fa-trash-can"></i>
                    <% end %>
                  <% elsif admin_signed_in? %>
                    <%= link_to  post_post_comment_path(post_comment, reply), class: "reply-comment-delete", method: :delete, remote: true do %>
                    <i class="fa-solid fa-trash-can"></i>
                    <% end %>
                  <% else %>
                  <% end %>
                 </div>
                </div>
            </div>
            <div class="faceicon text-center">
            <% if reply.customer == current_customer %>
                <%= link_to mypage_path do %>
                <%= image_tag reply.customer.avatar.url, class: 'rounded-circle mr15', width: '50', height: '50' %>
                <div class="like-link textOverflow"><%= reply.customer.name %></div>
              <% end %>
            <% else %>
              <%= link_to customer_path(reply.customer) do %>
                <%= image_tag reply.customer.avatar.url, class: 'rounded-circle mr15', width: '50', height: '50' %>
                <div class="like-link textOverflow"><%= reply.customer.name %></div>
              <% end %>
            <% end %>
            </div>
          </div>
        <% end %>
        </div>
      </div>
    <% end %>
  </div>
  
  <div>
    <%= render "admin/post_comments/reply_form", post: post, comment_reply: comment_reply %>
  </div>
  
</div>