  <div class="header-nav">
     <header class="header py-3">

      <div class="py-1 mb-2 mt-2">


         <div class="text-light header-current">
          <% if admin_signed_in? %>
            管理者画面
          <% elsif customer_signed_in? %>
            <i class="fa-solid fa-user"></i> <%= current_customer.name %>　ようこそ！
          <% end %>
         </div>

          <div class="user-icon">
            <% if admin_signed_in? %>
            <% elsif customer_signed_in? %>
              <%= link_to mypage_path do %>
                <%= image_tag current_customer.avatar.url, class: 'rounded-circle mr15', width: '50', height: '50' %>
              <% end %>
            <% else %>
            <% end %>
          </div>

         <div class="">
          <%= link_to root_path, data:{"turbolinks" => false} do %>
              <img class="navbar-brand"><%= image_tag "logo.png", class: "logo" %>
          <% end %>
         </div>

          <% if customer_signed_in? %>
          <div class="bell-icon">
            <%= link_to notifications_path, class: "nav-link" do %>
            <% unchecked_notifications_count = current_customer.notifications.where(checked: false).count %>
            <% if unchecked_notifications_count > 0 %>
              <div class="bell-count text-center">
                <%= unchecked_notifications_count %>
              </div>
              <i class="fa-solid fa-bell fa-shake" style="color: #f2ee7d;"></i>
            <% else %>
              <i class="fa-sharp fa-solid fa-bell" style="color: #808080;"></i>
            <% end %>            <% end %>
          </div>
          <% else %>
          <% end %>


        <div class="social">
        <% if admin_signed_in? %>
           <%= render "layouts/search" %>
        <% elsif customer_signed_in? %>
           <%= render "layouts/search" %>
        <% else %>
        <% end %>
        </div>

      </div>
     </header>

      <div class="nav-scroller py-1 mb-2">
       <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="back-button">
          <%= link_to :back do %>
            <i class="fa-solid fa-arrow-left fa-xl" style="color: #000;"></i>
          <% end %>
        </div>

        <% if admin_signed_in? %>
        <% elsif customer_signed_in? %>
            <div class="timeline-icon">
            <%= link_to timeline_path, class: "nav-link" do %>
              <% if current_customer.following_ids.any? { |user_id| Post.where(customer_id: user_id, checked: false).exists? } %>
                <div class="bell-count text-center">
                  <%= current_customer.following_ids.inject(0) do |count, user_id| %>
                    <% count += Post.where(customer_id: user_id, checked: false).count %>
                  <% end %>
                </div>
                <i class="fa-solid fa-clock fa-bounce" style="color: #66CC00;"></i>
              <% else %>
                <i class="fa-regular fa-clock" style="color: #808080;"></i>
              <% end %>
            <% end %>
            </div>
            <div class="group-icon">
            <%=link_to groups_path do %>
            <i class="fa-solid fa-people-group" style="color: #3399CC;"></i>
            <% end %>
            </div>
        <% else %>
        <% end %>
        <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
          <ul class="navbar-nav">
          <% if customer_signed_in? %>
            <li class="px-5">
              <%= link_to about_path, class: "nav-item" do %>
              <i class="fa-solid fa-car-side"></i> About
              <% end %>
            </li>
            <li class="px-5">
              <%= link_to new_post_path, class: "nav-item" do %>
              <i class="fa-solid fa-image"></i> 投稿
              <% end %>
            </li>
            <li class="px-5">
              <%= link_to posts_path, class: "nav-item" do %>
              <i class="fa-solid fa-images"></i> 投稿一覧
              <% end %>
            </li>
            <li class="px-5">
              <%= link_to destroy_customer_session_path, method: :delete, class: "nav-item" do %>
              <i class="fa-solid fa-right-from-bracket"></i> ログアウト
              <% end %>
            </li>
          <% elsif admin_signed_in? %>
            <li class="px-5">
              <%= link_to posts_path, class: "nav-item" do %>
              <i class="fa-solid fa-images"></i> 投稿一覧
              <% end %>
            </li>
            <li class="px-5">
              <%= link_to admin_customers_path, class: "nav-item" do %>
              <i class="fa-solid fa-users"></i> 会員一覧
              <% end %>
            </li>
            <li class="px-5">
              <%= link_to destroy_admin_session_path, method: :delete, class: "nav-item" do %>
              <i class="fa-solid fa-right-from-bracket"></i> ログアウト
              <% end %>
            </li>
          <% else %>
            <li class="px-5">
              <%= link_to about_path, class: "nav-item" do %>
              <i class="fa-solid fa-car-side"></i> About
              <% end %>
            </li>
            <li class="px-5">
              <%= link_to new_customer_registration_path, class: "nav-item" do %>
              <i class="fa-solid fa-user-plus"></i> 新規登録
              <% end %>
            </li>
            <li class="px-5">
              <%= link_to new_customer_session_path, class: "nav-item" do %>
              <i class="fa-solid fa-right-to-bracket"></i> ログイン
              <% end %>
            </li>
            <li class="px-5">
              <%= link_to users_guest_sign_in_path, method: :post, class: "nav-item" do %>
              <i class="fa-solid fa-user-secret"></i> ゲストログイン
              <% end %>
            </li>
          <% end %>
          </ul>
         </div>
       </nav>
      </div>
  </div>