  <div class="header-nav">
     <header class="header py-3">

      <div class="nav-scroller py-1 mb-2 mt-2">
        <nav class="navbar navbar-expand-lg justify-content-around">

         <div class="text-light">
          <% if admin_signed_in? %>
            管理者画面
          <% elsif customer_signed_in? %>
            <%= current_customer.name %>　ようこそ！
          <% end %>
         </div>

         <div class="">
          <%= link_to root_path, data:{"turbolinks" => false} do %>
              <img class="navbar-brand"><%= image_tag "logo.png", class: "logo" %>
          <% end %>
         </div>

        <div class="social">
        <% if admin_signed_in? %>
           <%= render "layouts/search" %>
        <% elsif customer_signed_in? %>
           <%= render "layouts/search" %>
        <% else %>
        <% end %>
        </div>

       </nav>
      </div>
     </header>

      <div class="nav-scroller py-1 mb-2">
       <nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-center">
        <ul class="navbar-nav">
        <% if customer_signed_in? %>
          <div class="back-button">
            <%= link_to :back do %>
              <i class="fa-solid fa-arrow-left fa-xl" style="color: #000;"></i>
            <% end %>
          </div>
          <li class="px-5">
            <%= link_to "About", about_path, class: "nav-item" %>
          </li>
          <li class="px-5">
            <%= link_to "投稿", new_post_path, class: "nav-item" %>
          </li>
          <li class="px-5">
            <%= link_to "投稿一覧", posts_path, class: "nav-item" %>
          </li>
          <li class="px-5">
            <%= link_to "マイページ", mypage_path, class: "nav-item" %>
          </li>
          <li class="px-5">
            <%= link_to "ログアウト", destroy_customer_session_path, method: :delete, class: "nav-item" %>
          </li>
          <div class="bell-icon">
            <%= link_to notifications_path, class: "nav-link" do %>
              <% if current_customer.notifications.where(checked: false).exists? %>
                <i class="fa-sharp fa-solid fa-bell fa-beat" style="color: #f2ee7d;"></i>
              <% else %>
                <i class="fa-sharp fa-solid fa-bell"></i>
              <% end %>
            <% end %>
          </div>
        <% elsif admin_signed_in? %>
          <div class="back-button">
            <%= link_to :back do %>
              <i class="fa-solid fa-arrow-left fa-xl" style="color: #000;"></i>
            <% end %>
          </div>
          <li class="px-5">
            <%= link_to "投稿一覧", posts_path, class: "nav-item" %>
          </li>
          <li class="px-5">
            <%= link_to "会員一覧", admin_customers_path, class: "nav-item" %>
          </li>
          <li class="px-5">
            <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "nav-item" %>
          </li>
        <% else %>
          <li class="px-5">
            <%= link_to "About", about_path, class: "nav-item" %>
          </li>
          <li class="px-5">
            <%= link_to "投稿一覧", posts_path, class: "nav-item" %>
          </li>
          <li class="px-5">
            <%= link_to "新規登録", new_customer_registration_path, class: "nav-item" %>
          </li>
          <li class="px-5">
            <%= link_to "ログイン", new_customer_session_path, class: "nav-item" %>
          </li>
          <li class="px-5">
            <%= link_to "ゲストログイン", users_guest_sign_in_path, method: :post, class: "nav-item" %>
          </li>
        <% end %>
        </ul>
       </nav>
      </div>
  </div>